<template>
  <div id="footer" class="flex items-center xl:justify-center py-10 px-5" style="height: auto"> 
    <div class="footer-cont flex flex-col xl:flex-row gap-10 xl:gap-20">
      <div class="footer-info flex flex-col gap-2">
        <h1 class="text-2xl font-bold cursor-default" style="color: #747474">Fernando</h1>
        <p class="font-medium text-sm cursor-default" style="color: #747474">2022. Redcore.com — All rights reserved.</p>
      </div>

    </div>
  </div>
</template>

<script>
export default {
name: 'Footer'
}
</script>

<style>

</style>