<template>
  <!-- ADMIN VIEW -->
<div >
    <div id="header" class="header flex justify-between items-center p-10">
      <div class="logo-cont text-2xl font-bold cursor-default" style="color: #0029aa">Redcore</div>
      <div  class="header-nav text-sm flex flex items-center gap-2 md:gap-5 hidden xl:flex" >
        <v-btn v-show="loggedIn" @click.prevent="handleLogout" class="outline-gray-btn rounded-2xl px-3 py-0.5 text-sm font-semibold flex items-center justify-center cursor-pointer" style="color: red">
            logout
        </v-btn>
     
      </div>
    </div>
  </div>
</template>

<script>


export default {

    name : "Header",
    computed: {
        loggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },

  
    methods : {
        handleLogout() {
            this.$store.dispatch('auth/logout').then(()=>{
              this.$router.push('/login');
            })
        },
    },
};
</script>

<style>
.header {
  background: transparent linear-gradient(180deg, #d0d2d2 0%, #e3ded600 100%) 0% 0%
    no-repeat padding-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.sign-up-btn {
  padding: 0.5rem 1.5rem;
  background: #fc714a 0% 0% no-repeat padding-box;
  border-radius: 19px;
}
</style>
