<template>
  <!-- EMPLOYER VIEW -->
  <div v-if="true" class="cursor-pointer py-12 pl-8 w-3/12 hidden xl:flex">
    <div class="flex flex-col items-start gap-3 w-8/12">
      <a href="/" class="flex justify-center gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#707070"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
          />
        </svg>
        <p class="text-sm" style="color: #707070">Home</p>
      </a>
      <a href="/user" class="flex justify-center gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#707070"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
          />
        </svg>
        <p class="text-sm" style="color: #707070">Create User</p>
      </a>
         <a href="/role" class="flex justify-center gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#707070"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
          />
        </svg>
        <p class="text-sm" style="color: #707070">Create Role</p>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Banners",
  data() {
    return {
      isBannersShown: false,
    }
  },
  methods: {
    showBanner() {
      this.isBannersShown = !this.isBannersShown
    }
  }
};
</script>

<style></style>
