.profile-banner {
  background-image: url("../images/profile-update-banner.png");
  height: 20vh;
}

.employer-banner {
  background-image: url("../images/employer-banner.png");
  height: 20vh;
}

.input-field {
  border: 1px solid #a9bdce !important;
  border-radius: 6px !important;
  padding: 0.1rem 0.5rem !important;
}

select {
  border: 1px solid #a9bdce !important;
}

.form-outline-btn {
  color: #fc714a;
  border: 3px solid #e3ded6;
  padding: 0.2rem 0.6rem;
}

.form-solid-btn {
  background: #fc714a;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.green-outline-btn {
  color: #17C400;
  border: 2px solid #CBF8C5;
  padding: 0.2rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.blue-outline-btn {
  color: #002874;
  border: 2px solid #a8bee8;
  padding: 0.2rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.red-outline-btn {
  color: #FF4D4D;
  border: 2px solid #FFBCBC;
  padding: 0.2rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.outline-gray-btn {
  color: #0050A6;
  border: 3px solid #747474;
}

.icon-cont {
  border: 3px solid #e3ded6;
  border-radius: 3rem;
  padding: 0.3rem;
  cursor: pointer;
}

.red-outline-icon{
  border: 3px solid #FFD5D5;
  color: #FF4E4E;
  border-radius: 3rem;
  padding: 0.3rem;
  cursor: pointer;
}

.profile-form {
  border: 1px solid #dbd1d1;
  border-radius: 8px;
  padding: 2rem 4rem;
}

.blue-outline-form {
  border: 1px solid #A9BDCE;
  border-radius: 8px;
  padding: 0.5rem;
}

/* JOB DETAILS */
.job-details-cont {
  border: 1px solid #dbd1d1;
  border-radius: 8px;
  padding: 1rem 2rem;
}

.about-text-cont {
  background-image: url('../images/home-about-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}

.about-text {
  margin-top: 10%;
  margin-left: 2%;
}

.salary-cont {
  border: 2px solid #F4F4F4;
}

.outline-gray-box {
  border: 3px solid #E1E6EA;
}