<template>
  <Header/>
  <div class="employer-banner mb-5 xl:mb-16"></div>
  <div class="flex">
    <Sidebar class="hidden xl:flex"/>
    <div class="flex flex-col px-3">
      <h1 class="text-xl" style="color: #292929">Hello, {{User.name}}</h1>
      <div
        class="profile-update-cont py-3 flex flex-col gap-5 items-center xl:items-start justify-center"
      >
        <div
          class="job-details-cont flex flex-col xl:flex-row justify-between content-between items-center w-full"
        >
          <div class="flex flex-col xl:flex-row gap-5 justify-center items-center">
            <img src="../images/profile-pic.png" class="rounded-xl" />
            <div
              class="employer-details flex flex-col gap-2 justify-center items-center"
            >
              <p class="text-lg font-bold" ><span style="color: #0050a6">Name : </span>{{User.name}}</p>
              <p class="text-lg font-bold"><span  style="color: #0050a6">Email : </span>{{User.email}}</p>
              <p class="text-lg font-bold" ><span style="color: #0050a6">Date Created : </span>{{User.created_at}}</p>
            </div>
            <p class="text-base font-medium text-center" style="color: #4d5b64">
           
          </p>
          </div>

        
         
        </div>
      </div>  
    </div>
  </div>
  <!-- <Footer /> -->
</template>

<script>
import Header from "../components/Header.vue";
import Sidebar from "../components/Sidebar.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Dashboard",
  components: { Header, Sidebar, Footer },

   computed: {
        User() {
            return this.$store.state.auth.user.user;
        },
    },

    created() {
       this.User
    },
  
};
</script>

<style></style>
