<template>
    <Header/>
    <div id="login" class="flex justify-center items-center">
        <div class="login-cont grid grid-cols-12 w-9/12 py-10">
            <div class="login-text-cont col-span-12 xl:col-start-1 xl:col-end-5 flex flex-col py-16 px-5"
                 style="background: #fff">
                <h1 class="font-bold mb-10 text-xl" style="color: #0050a6">Log In</h1>
                <div class="login-form-input flex flex-col relative">

                    <label class="font-bold uppercase" style="color: #777777; font-size: 11px" for="email"
                    >email</label
                    >
                    <input type="email" class="@error('email')"  id="email" v-model="data.email" />
                     <span class="text-xs text-red-700" id="passwordHelp">{{error.errors.email && error.errors.email[0]}}</span>
                    <label
                        class="font-bold uppercase text-xs mt-5"
                        style="color: #777777; font-size: 11px"
                        for="password"
                    >password</label
                    >
                    <input type="password" class=" @error('password') input"  id="password" name="password" v-model="data.password"/>

                     <span class="text-xs text-red-700" id="passwordHelp">{{error.errors.password && error.errors.password[0]}}</span>
                </div>
                <div class="forgot-password flex justify-end mt-5">
                    <a
                        class="text-xs font-bold underline hover:no-underline"
                        href="#"
                        style="color: #fc714a"
                    >
                        Forgot Password?</a
                    >
                </div>
                <div class="login-btn-cont flex justify-center">
                    <button
                        class="login-btn text-sm flex items-center justify-center text-white mt-10"
                        @click.prevent="handleLogin"
                        :disabled="loginBtnIsLoading"
                    >
                        {{ loginBtnIsLoading ? 'Loading...' : 'Login' }}
                    </button>
                </div>
                <div class="login-text flex flex-col items-center">
                    <div class="font-medium text-xs mt-10" style="color: #656872">Already signed up?</div>
                    <a href="/register"
                       class="font-medium text-xs mt-6 underline hover:no-underline"
                       style="color: #FC714A">Sign up now</a>
                </div>
            </div>
            <div class="login-img-cont hidden xl:block col-start-5 col-end-13">
                <img src="https://dummyimage.com/661x531/ccc/000" style="width: 100%"/>
            </div>
        </div>
    </div>
    <Footer/>
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import Axios from "axios";

export default {
    components : {Header, Footer},
    name : "Login",

    data() {
        return {
            data : {
                email : '',
                password : '',
            },
            error: {
                errors: {},
                message: null
            },
            loginBtnIsLoading : false,
        }
    },

    computed: {
        isLoggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },

    created() {
        if (this.isLoggedIn) {
            this.$router.push('/');
        }
    },

    methods : {
        handleLogin() {
            if (this.data.email && this.data.password) {
                this.loginBtnIsLoading = true;

                this.$store.dispatch('auth/login', this.data)
                .then(() => {
                    this.$router.push('/');
                }, error => {
                    this.loginBtnIsLoading = false;
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
                })
            }
        },
    },
};
</script>

<style>
#login {
    background-image: url('../images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* #email,
#password {
  padding: 2px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #777777;
} */

.login-btn {
    padding: 0.5rem 3rem;
    background: #fc714a 0% 0% no-repeat padding-box;
    border-radius: 19px;
}
</style>
