<template>
  <Header />
  <div class="profile-banner"></div>
  <div class="w-full mt-3">
    <div class="flex justify-end mr-3 xl:w-10/12">
      <p class="form-outline-btn text-sm font-medium rounded-2xl mr-20">Edit Company Profile</p>
    </div>
  </div>
  <div
    class="profile-update-cont py-5 flex flex-col gap-10 items-center xl:items-start justify-center xl:flex-row"
  >
    <div class="flex flex-col">
      <div class="profile-name flex flex-col xl:flex-row items-center">
        <img src="../images/profile-pic.png" class="rounded-xl xl:mr-5" />
        <div class="profile-text-cont">
          <p class="font-medium text-xl mb-2" style="color: #0050a6">Key Manu</p>
          <p class="font-medium text-xs" style="color: #747474">Mandaluyong City</p>
        </div>
      </div>
      <p class="text-xs mt-5" style="color: #525252">Joined Dec 2020</p>
    </div>
    <div class="profile-update-form-cont flex flex-col w-11/12 xl:w-5/12">
      <div class="profile-form flex flex-col gap-3 items-start justify-center">
        <div
          class="input flex flex-col xl:flex-row xl:items-center gap-1 xl:gap-3 w-full"
        >
          <label class="font-bold text-sm w-full" style="color: #022b45" for="first-name"
            >Hotel</label
          >
          <p style="color: #525252" class="text-sm w-full">The Peninsula Manila</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="flex font-bold text-sm w-full"
            style="color: #022b45"
            for="location"
            >About</label
          >
          <p style="color: #525252" class="text-sm w-full">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          </p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="email-update"
            >Email</label
          >
          <p style="color: #525252" class="text-sm w-full">inquirepeninsula@gmail.com</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="mobile-number"
            >Mobile Number</label
          >
          <p style="color: #525252" class="text-sm w-full">+63 917 678 0987</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="mobile-number"
            >Location</label
          >
          <p style="color: #525252" class="text-sm w-full">Makati City</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full gap-5">
    <div class="flex ml-3 mt-5 xl:w-full justify-around">
      <h1 class="text-lg font-medium" style="color: #0050a6">Your current job posts</h1>
        <p style="color: #FC714A" class="underline hover:no-underline">View all posted jobs</p>
    </div>
    <div class="hidden xl:flex gap-56 mt-5 justify-center">
      <p class="text-xs font-bold uppercase" style="color: #9f9f9f">looking for</p>
      <p class="text-xs font-bold uppercase" style="color: #9f9f9f">contract</p>
      <p class="text-xs font-bold uppercase" style="color: #9f9f9f">salary</p>
      <p class="text-xs font-bold uppercase" style="color: #9f9f9f"></p>
    </div>
  </div>

  <div
    class="profile-update-cont py-3 flex flex-col gap-10 items-center xl:items-start justify-center xl:flex-row"
  >
    <div
      class="job-details-cont flex flex-col xl:flex-row justify-between content-between items-center w-10/12 xl:w-7/12"
    >
      <div class="flex flex-col xl:flex-row justify-center items-center">
        <div
          class="employer-details flex flex-col gap-2 mb-2 justify-center items-center"
        >
          <p class="text-lg font-bold" style="color: #0050a6">Concierge</p>
          <p class="text-xs" style="color: #747474">The Peninsula Manila</p>
          <p class="text-xs" style="color: #747474">Makati City</p>
        </div>
      </div>

      <p class="text-base font-medium text-center mb-2" style="color: #4d5b64">
        Full Time Employee
      </p>
      <p class="text-base font-medium text-center" style="color: #4d5b64">
        P70,000 – P90,000 / Month
      </p>
      <div class="flex items-center mt-5">
        <div
          class="icon-cont flex justify-center items-center mr-2"
          style="border: 2px solid #a8bee8"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#747474"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            />
          </svg>
        </div>
        <div
          class="blue-outline-btn-cont flex justify-center xl:justify-start xl:block xl:mt-0"
        >
          <button class="blue-outline-btn text-sm text-orange-500 font-medium">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "ProfileView",
  components: { Header, Footer },
};
</script>

<style></style>
