<template>
  <Header />
  <div id="register" class="flex justify-center items-center py-10">
    <div class="register-cont grid grid-cols-12 w-9/12" style="background: red">
      <div class="register-text-cont col-span-12 xl:col-start-1 xl:col-end-5 flex flex-col py-16 px-5" style="background: #fff">
        <h1 class="font-bold mb-10 text-xl" style="color: #0050a6">Sign Up</h1>
          <div class="register-form-input flex flex-col">
            <label class="font-bold uppercase" style="color: #777777; font-size: 11px" for="email"
              >email</label
            >
            <input type="email" name="email" id="email" />
            <label
              class="font-bold uppercase text-xs mt-5"
              style="color: #777777; font-size: 11px"
              for="password"
              >password</label
            >
            <input type="password" class="input" id="password" name="password" />
            <label
              class="font-bold uppercase text-xs mt-5"
              style="color: #777777; font-size: 11px"
              for="confirm-password"
              >confirm password</label
            >
            <input type="password" class="input" id="confirm-password" name="password" />
            <label class="container text-xs mt-5" style="color: #363941"><span style="color: #0050A6" class="font-bold">I am a... </span>
              <input class="checkbox" type="checkbox" />
              Company
            </label>
          </div>
          <div class="forgot-password flex justify-center">
            <div
              class="font-medium flex-wrap text-xs mt-10 text-center"
              style="color: #656872"
            >
              By signing up, you agree to Redcore
              <a href="#" style="color: #fc714a">Terms of Service</a> and
              <a href="#" style="color: #fc714a">Privacy Policy</a>
            </div>
          </div>
          <div class="register-btn-cont flex justify-center">
            <div
              class="register-btn text-sm flex items-center justify-center text-white mt-5"
            >
              Signup
            </div>
          </div>
          <div class="register-text flex flex-row justify-center mt-10 gap-10">
            <div class="font-medium text-xs" style="color: #656872">Already signed up?</div>
            <a href="/login" class="font-medium text-xs underline hover:no-underline cursor-pointer" style="color: #FC714A">Login now</a>
          </div>
      </div>
      <div class="register-img-cont hidden xl:block col-start-5 col-end-13">
        <img src="https://dummyimage.com/661x531/ccc/000" style="width: 100%"/>
      </div>
    </div>
  </div>
  <Footer />
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
export default {
  components: { Header, Footer },
  name: "Register",
};
</script>

<style>
#register {
  background-image: url('../images/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#email,
#password,
#confirm-password {
  width: 100%;
  padding: 2px 20px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #777777;
}

.register-btn {
  padding: 0.5rem 3rem;
  background: #fc714a 0% 0% no-repeat padding-box;
  border-radius: 19px;
}

.checkbox {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #a9bdce;
  border-radius: 4px;
}

.checkbox:focus {
  border: 0;
  outline: 0;
}

</style>
