<template>
  <Header/>
  <div class="employer-banner mb-5 xl:mb-16"></div>
  <div class="flex">
    <Sidebar class="hidden xl:flex"/>
    <div class="flex flex-col px-3">
         <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mb-4"
            @click="createBox()"
        >
            Create Roles
        </button>
         <table class="min-w-full border  divide-y divide-gray-200 table-fixed dark:divide-gray-700">
            <thead class="bg-gray-100 dark:bg-gray-700">
                <tr>
            
                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                        Role name
                    </th>
                    <th scope="col" class="p-4">
                        <span  class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                <tr v-for="RoleDetial in RoleDetials" :key="RoleDetial.id" class="hover:bg-gray-100 dark:hover:bg-gray-700" >
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{RoleDetial.name}}
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" @click="updateRoleBox(RoleDetial)">
                            Update
                        </button>

                         <button class="ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" @click="DeleteRole(RoleDetial.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="w-full border mt-5 p-5"  v-show="show">
             <form class="w-full max-w-lg mt-5" >
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full  px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                        Role Name
                    </label>
                    <input
                        v-model="data.name"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="IT">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                    </div>

                </div>
               
            </form>
               <button
                        class="login-btn text-sm flex items-center justify-center text-white mt-10"
                        @click.prevent="editMode === false ? createRole() : updateRoles()"
                    >
                        {{editMode === false ? 'create' : 'update'}}
                </button>
        </div>
           
    </div>
  </div>
  <Footer />
</template>

<script>
import Header from "../components/Header.vue";
import Sidebar from "../components/Sidebar.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Role",
  components: { Header, Sidebar, Footer },
    data() {
        return {
            data : {
                name:'',

            },
            error: {
                errors: {},
                message: null
            },
            editMode : false,
            show: false,
        }
    },
   computed : {
        RoleDetials() {
            return this.$store.state.roles.roleDetails;
        }
    },

    created() {
        this.getAllRoles();
    },

    methods : {
        getAllRoles() {
            this.$store.dispatch('roles/getAllRoles');
        },
        createBox(){
            this.show = true;
        },
        createRole(){

             this.$store.dispatch('roles/createNewRoles', this.data)
                .then(() => {
                     this.getAllRoles();
                     this.data = '';
                     this.show = false;
                }, error => {
                    this.loginBtnIsLoading = false;
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
        },
        updateRoleBox(data){
            this.data = data
            this.editMode = true;
            this.show = true
        }, 
        updateRoles(){
            this.$store.dispatch('roles/updateNewRoles',this.data)
                .then(() => {
                     this.getAllRoles();
                     this.show = false;
                     this.data = '';
                }, error => {
                    this.loginBtnIsLoading = false;
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
        },
        DeleteRole(id){

            this.$store.dispatch('roles/deleteRole', id)
                .then((data) => {
                     this.getAllRoles();
                }, error => {
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
          
        }
    }
};
</script>

<style>

</style>
