<template>
  <Header/>
  <div class="employer-banner mb-5 xl:mb-16"></div>
  <div class="flex">
    <Sidebar class="hidden xl:flex"/>
    <div class="flex flex-col px-3">
         <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mb-4"
            @click="createBox()"
        >
            Create User
        </button>
         <table class="min-w-full border  divide-y divide-gray-200 table-fixed dark:divide-gray-700">
            <thead class="bg-gray-100 dark:bg-gray-700">
                <tr>
                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                        Full Name
                    </th>
                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                        Role
                    </th>
                    <th scope="col" class="p-4">
                        <span  class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
           
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                <tr v-for="userDetial in userDetials" :key="userDetial.id" class="hover:bg-gray-100 dark:hover:bg-gray-700" >
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{userDetial.name}}
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                          {{userDetial.email}}
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{userDetial.user_role.role.name}}
                    </td>
                    <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" @click="updateUser(userDetial)">
                            Update
                        </button>

                         <button class="ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" @click="DeleteUser(userDetial.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="w-full border mt-5 p-5"  v-show="show">
             <form class="w-full max-w-lg mt-5" >
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full  px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                        Full Name
                    </label>
                    <input
                        v-model="data.name"
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
                    <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                    </div>

                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                        Email
                    </label>
                    <input
                     v-model="data.email"
                     class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="text" placeholder="janeDoe@gmail.com">
                    <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
                    </div>
                </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                        Password
                    </label>
                    <input   
                        v-model="data.password"  
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="******************">
                    <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                    <label 
                  
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                        Confirm Password
                    </label>
                    <input 
                    v-model="data.password_confirmation"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="******************">
                    <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
                    </div>
                </div>
                 <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                    <label 
                  
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                        Assign Role
                    </label>
                    <select v-model="data.role_id" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                        <option v-for="RoleDetial in RoleDetials" :key="RoleDetial.id" :value="RoleDetial.id">{{RoleDetial.name}}</option>
                    </select>
                    <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->
                    </div>
                </div>
            </form>
               <button
                        class="login-btn text-sm flex items-center justify-center text-white mt-10"
                        @click.prevent="editMode === false ? createUser() : updateUsed()"
                    >
                        {{editMode === false ? 'create' : 'update'}}
                </button>
        </div>
           
    </div>
  </div>
  <Footer />
</template>

<script>
import Header from "../components/Header.vue";
import Sidebar from "../components/Sidebar.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Dashboard",
  components: { Header, Sidebar, Footer },
    data() {
        return {
            data : {
                name:'',
                email : '',
                password : '',
                role_id: ''
            },
            error: {
                errors: {},
                message: null
            },
            editMode : false,
            show: false,
        }
    },
   computed : {
        userDetials() {
            return this.$store.state.users.userDetails;
        },
        RoleDetials() {
            return this.$store.state.roles.roleDetails;
        }
    },

    created() {
        this.getAllUser();
        this.getAllRoles();
    },

    methods : {
        getAllRoles() {
            this.$store.dispatch('roles/getAllRoles');
        },
        getAllUser() {
            this.$store.dispatch('users/getAllUsers');
        },
        createBox(){
            this.show = true;
            this.editMode = false;
            this.data.name = null ;
            this.data.email = null ;
            this.data.password = null ;
            this.data.password_confirmation = null ;
            this.data.role_id = null ;
        },
        createUser(){
             this.$store.dispatch('users/createNewUsers', this.data)
                .then(() => {
                     this.getAllUser();
                     this.show = false;

                }, error => {
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
        },
        updateUser(data){
            console.log(data.user_role.id);
            this.data.name = data.name; ;
            this.data.email = data.email ;
            this.data.role_id = data.user_role.id ;
            this.editMode = true;
            this.show = true
        }, 
        updateUsed(){
            this.$store.dispatch('users/updateNewUsers',this.data)
                .then(() => {
                     this.getAllUser();
                     this.show = false;
                }, error => {
                    this.loginBtnIsLoading = false;
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
        },
        DeleteUser(id){
            this.$store.dispatch('users/deleteUsers', id)
                .then(() => {
                     this.getAllUser();
                }, error => {
                    this.error = (error.response && error.response.data) ||
                        error.message ||
                        error.toString();
            })
          
        }
    }
};
</script>

<style>

</style>
