<template>
  <Header />
  <div class="profile-banner"></div>
  <div class="w-full mt-3 flex justify-center hidden md:flex">
    <div class="flex px-5 w-full xl:w-7/12 justify-between">
      <h1 class="text-xl" style="color: #292929">Applicant</h1>
      <div class="flex gap-2">
        <div class="flex justify-end items-center gap-2 -ml-10">
          <div class="icon-cont flex justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#747474"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
              />
            </svg>
          </div>
          <p class="text-sm font-medium" style="color: #747474">Print Resume</p>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="input flex flex-col gap-1 xl:gap-3">
          <div class="custom-select">
            <select class="w-full rounded-md float-right text-xs" style="color: #646876">
              <option value="0">Move to..</option>
              <option value="1">Mandaluyong</option>
              <option value="2">Quezon City</option>
            </select>
          </div>
        </div>
        <a class="form-outline-btn text-sm font-medium rounded-2xl">For Interview</a>
        <a class="form-solid-btn text-sm text-white font-medium rounded-2xl"
          >Invite to Job</a
        >
      </div>
    </div>
  </div>
  <div
    class="profile-update-cont py-5 flex flex-col gap-10 items-center xl:items-start justify-center xl:flex-row"
  >
    <div class="flex flex-col">
      <div class="profile-name flex flex-col xl:flex-row items-center">
        <img src="../images/profile-pic.png" class="rounded-xl xl:mr-5" />
        <div class="profile-text-cont">
          <p class="font-medium text-xl mb-2" style="color: #0050a6">Robin Robin</p>
          <p class="font-medium text-xs" style="color: #747474">Makati City</p>
          <p class="font-medium text-xs" style="color: #747474">Philippines</p>
        </div>
      </div>
      <p class="text-xs mt-5" style="color: #525252">Joined Dec 2020</p>
    </div>
    <div class="profile-update-form-cont flex flex-col w-11/12 xl:w-5/12">
      <div class="profile-form flex flex-col gap-3 items-start justify-center">
        <div
          class="input flex flex-col xl:flex-row xl:items-center gap-1 xl:gap-3 w-full"
        >
          <label class="font-bold text-sm w-full" style="color: #022b45" for="first-name"
            >Name</label
          >
          <p style="color: #525252" class="text-sm w-full">Key Manu</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="flex font-bold text-sm w-full"
            style="color: #022b45"
            for="location"
            >Location</label
          >
          <p style="color: #525252" class="text-sm w-full">Mandaluyong</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="email-update"
            >Email</label
          >
          <p style="color: #525252" class="text-sm w-full">keymanu@gmail.com</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="mobile-number"
            >Mobile Number</label
          >
          <p style="color: #525252" class="text-sm w-full">+63 917 678 0987</p>
        </div>
      </div>

      <br />

      <div class="profile-form flex flex-col gap-3 items-start justify-center">
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="location"
            >Highlights</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="location"
            >Bio</label
          >
          <p style="color: #525252" class="text-sm w-full">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          </p>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="first-name"
            >Experience</label
          >
          <div class="input-field-cont flex flex-col gap-2 xl:w-full">
            <div class="experience-cont flex justify-between">
              <div class="experience-text flex flex-col">
                <p class="font-medium" style="color: #646876; font-size: 10px">
                  Gulpwars2
                </p>
                <p style="color: #525252" class="text-sm">Melee</p>
              </div>
              <div class="experience-date flex flex-col">
                <p class="font-medium" style="color: #646876; font-size: 10px">
                  2000-2005
                </p>
                <p style="color: #525252" class="text-sm">5 Years</p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="middle-initial"
            >Skills</label
          >
          <p style="color: #525252" class="text-sm w-full">Cooking</p>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="last-name"
            >Education</label
          >
          <div class="input-field-cont flex flex-col gap-2 xl:w-full">
            <div class="experience-cont flex justify-between">
              <div class="experience-text flex flex-col text-sm" style="color: #525252">
                <p>CSB</p>
                <p>Production Designer</p>
              </div>
              <div class="experience-date flex flex-col text-sm" style="color: #525252">
                <p>2005</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="profile-form flex flex-col gap-3 items-start justify-center">
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="location"
            >Languages</label
          >
          <div class="languages-cont flex flex-col w-full">
            <p style="color: #525252" class="text-sm">English</p>
            <p style="color: #525252" class="text-sm">Tagalog</p>
          </div>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="first-name"
            >Certifications and Licenses</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="middle-initial"
            >Projects</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <br />
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="last-name"
            >Seminars and Trainings</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="last-name"
            >Awards and Achievements</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <hr style="width: 100%" />
        <br />
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="last-name"
            >Affiliations</label
          >
          <p style="color: #525252" class="text-sm w-full">Lorem Ipsum...</p>
        </div>
        <hr style="width: 100%" />
        <br />
        <label class="container text-sm" style="color: #525252"
          ><span style="color: #022b45" class="font-bold">Internship </span>
          <input class="checkbox ml-10 xl:ml-56" type="checkbox" disabled />
          Yes
        </label>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="last-name"
            >Resumê</label
          >
          <div class="flex justify-center w-full">
            <div class="mb-3 w-full">
              <input
                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="formFileSm"
                type="file"
              />
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="profile-form flex flex-col gap-3 items-start justify-center">
        <h1 class="text-lg font-medium" style="color: #022b45">Job Preference</h1>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="location"
            >Category</label
          >
          <p style="color: #525252" class="text-sm w-full">Concierge</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label class="font-bold text-sm w-full" style="color: #022b45" for="first-name"
            >Contract</label
          >
          <p style="color: #525252" class="text-sm w-full">Full-Time Employee</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="middle-initial"
            >Distance</label
          >
          <p style="color: #525252" class="text-sm w-full">Within — 2km radius</p>
        </div>
        <div class="input flex flex-col xl:flex-row gap-1 xl:gap-3 w-full">
          <label
            class="font-bold text-sm w-full"
            style="color: #022b45"
            for="middle-initial"
            >Salary</label
          >
          <p style="color: #525252" class="text-sm w-full">P70,000 - P80,000</p>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</template>

<script>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "ViewApplicant",
  components: { Header, Footer },
};
</script>

<style></style>
